<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-uppercase">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title class="center-title" >Lista de la compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <!-- Recargar la pagina -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-button (click)="setOpen(true)" color="secondary">
          Nuevo producto
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="guardarCambios()" [disabled]="cambios" color="secondary">
          Guardar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
<ion-list *ngFor="let producto of productos">
<ion-item style="color: white;" >
  {{producto.nombre}}
  <ion-button fill="clear" style="margin-left: 35px; font-size: medium; color: white; font-weight: blond;">{{producto.precio}} <ion-icon name="logo-euro"></ion-icon></ion-button>
  
  <ion-toggle slot="end" mode="ios" color="medium" [checked]="producto.comprado"  (ionChange)="cambiaEstado($event, producto.nombre, producto.precio)"> </ion-toggle>
</ion-item>
</ion-list>


<!-- Modal para nuevo Producto (click)="modal.dismiss()" (submit)="nuevoProducto()"-->
<ion-modal id="example-modal" [isOpen]="isModalOpen" #modal>
  <ng-template>
    <div class="wrapper">
      <h1>Nuevo Producto</h1>
      <form [formGroup]="formReg"  >
      <ion-list lines="none">
        <ion-item >
          <ion-input label="Nombre"   formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item >
          <ion-input label="Precio" type="number" formControlName="precio"></ion-input>
        </ion-item>
        <ion-item   class="ion-align-items-center">
          <ion-button  fill="clear" style="margin-left: 100px;" (click)="nuevoProducto()">
            <ion-icon name="checkmark"></ion-icon>
          </ion-button>
         
        </ion-item>
      </ion-list>
    </form>
    </div>
  </ng-template>
</ion-modal>
<!-- Modal para quien hace la compra-->
<ion-modal id="example-modal" [isOpen]="openPersona"  (ionModalDidDismiss)="pulsarFuera($event)">
  <ng-template>
    <div class="wrapper" class="ion-text-uppercase" >
      <h1 style="text-align: center;">Revisa la compra</h1>
      <ion-list>
        <ion-item *ngFor="let producto of productosComprados" lines="full">
          <ion-label slot="start">{{producto.nombre}}</ion-label>
          <ion-label slot="end">{{producto.precio}}€</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label slot="end">Total: {{calcularTotal()}}€</ion-label>
        </ion-item>  
      <ion-item lines="none">
    <ion-select aria-label="Persona" interface="popover" placeholder="Elige al pringado que paga" (ionChange)="elegirPagador($event)">
      <ion-select-option value="efra">Efra</ion-select-option>
      <ion-select-option value="maria">Maria</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item   style="display: flex; justify-content: space-around;" lines="none">
    <ion-button  fill="clear" color="success"  style="flex: 1;" [disabled]="nombrePagador === ''" (click)="realizaraCompra()" slot="start">
      <ion-icon name="checkmark"></ion-icon>
    </ion-button>
    <ion-button  fill="clear" color="danger" style="flex: 1;"  (click)="setOpenPagador(false)" slot="end">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>
    </div>
  </ng-template>
</ion-modal>
</ion-content>
