<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">


  <div id="container">
    <ion-list auto-hide="false" *ngFor="let p of appPages; let i = index">
      <ion-card color="light" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected" class="custom-card">
        <ion-card-header>
          <ion-card-title style="font-size: 25px; font-family:'Times New Roman', Times, serifxº, Courier, monospace;">
            {{ p.title }}
          </ion-card-title>
          <ion-card-subtitle>
            
          </ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content> 
          <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'" size="large"></ion-icon> 
        </ion-card-content>
      </ion-card>



    </ion-list>
  </div>
</ion-content>
      <!-- <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected" color="light">
        <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
        <ion-label>{{ p.title }}</ion-label>
      </ion-item> -->