ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-content {
  --ion-background-color: #1e1e1e; 
}
ion-toolbar {
  --ion-background-color: #1e1e1e; 
}
/* styles.css o tu archivo de estilos del componente */
.custom-card {
  background-image: url('../../assets/icon/menuFondo1.jpg');
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el fondo */
  background-position: center; /* Ajusta la posición de la imagen */
  color: white; /* Ajusta el color del texto para que sea legible sobre la imagen de fondo */
  border-radius: 15px;
}
