ion-content {
    --ion-background-color: #1e1e1e; 
  }
  ion-toolbar {
    --ion-background-color: #1e1e1e; 
  }
ion-list{
  --ion-background-color: #f0f0f0; 
}

.center-title {
    text-align: center;
    width: 100%;
    color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 25px;
}
ion-thumbnail {
  --size: 140px;
  --border-radius: 14px;
}