<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-uppercase">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary">
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="center-title" >cuentas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuentas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngFor="let cuentaPersonal of cuentas" style="border-radius: 25px; border: 1px solid rgb(255, 255, 255); " >
    <ion-thumbnail style="margin-left:100px;">
    <img alt="Foto de perfil"   [src]="cuentaPersonal.nombre === 'maría' ? '../../assets/icon/ariaB.jpeg' : '../../assets/icon/efra.jpeg'"
    
    />
  </ion-thumbnail>
    <ion-card-header class="ion-align-items-center">
      <ion-card-title color="light">{{cuentaPersonal.nombre | titlecase}}</ion-card-title>
      <ion-card-subtitle>
        <ion-text [style.color]="cuentaPersonal.saldo >= 0 ? 'green' : 'red'" >
          {{ cuentaPersonal.saldo >= 0 ? 'Saldo a favor:' : 'Saldo en contra:' }}
        </ion-text>
        
      </ion-card-subtitle>
      
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
      <ion-text style="font-size: 20px;" [style.color]="cuentaPersonal.saldo >= 0 ? 'green' : 'red'" slot="start">{{cuentaPersonal.saldo | number: '1.2-2' }}€</ion-text>
      <ion-button *ngIf="cuentaPersonal.saldo < 0" slot="end" fill="outline" shape="round" color="danger" >SALDAR DEUDAS</ion-button>
      <ion-button *ngIf="cuentaPersonal.saldo > 0" slot="end" fill="outline" shape="round" color="success" >PA-GA-ME</ion-button>
    </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
