<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-uppercase">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title class="center-title" >Tickets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-toolbar *ngIf="showDeleteImga" class="toolbarDelete">
    
    <ion-checkbox style="margin-left: 15px;" justify="start" labelPlacement="end"  [(ngModel)]="selectAllPhotos" (ionChange)="selectAllFotos()"  color="light">
    <ion-label color="light">
      Seleccionar todo
    </ion-label> 
    </ion-checkbox>
      <ion-button   slot="end" color="danger" size="small" (click)="borrarFoto()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
      <ion-button   slot="end" color="dark" size="small" (touchend)="onTouchEndPhoto($event)">
        <ion-icon name="thumbs-up"></ion-icon>
        </ion-button>
  </ion-toolbar>
  <ion-grid class="ion-align-items-center">
    <ion-row >
      <ion-col class="ion-text-center">
        <ion-button [fill]="true" (click)="setOpenGalery(true)"  ><ion-label  color="light">Ver todo</ion-label></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" *ngFor="let photo of avatar; let i = index">
  
        <ion-thumbnail>
          <ion-checkbox style="position: absolute;" (click)="onCheckboxClick($event)" [(ngModel)]="photo.seleccionada" *ngIf="showDeleteImga" justify="start" labelPlacement="end"></ion-checkbox>
          <ion-img [src]="photo.url" (click)="setOpenPhoto(true,i)" (touchstart)="onTouchPhoto($event)"></ion-img>
        </ion-thumbnail>
      </ion-col>
    </ion-row>                 
  </ion-grid>
  <ion-spinner *ngIf="avatar.length==0" style=" margin: 150px;"></ion-spinner>
  
  
  <!-- Galery -->
  <ion-modal [isOpen]="isGeleryOpen" >
    <ng-template>
      <ion-buttons slot="end">
        <ion-button  (click)="setOpenGalery(false)" style="position: absolute; right: 20px; top: 20px">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-content style=" --ion-background-color: #000000;">
  <swiper-container
  #swiper [loop]="true"
                    
                    [zoom]="true"
                    [pagination]="true" 
                    >
    <swiper-slide *ngFor="let photo of avatar; let i=index">
      <div>
        <ion-img [src]="photo.url" ></ion-img>
      </div>
    </swiper-slide>
  </swiper-container>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- Solo 1 foto -->
  <ion-modal [isOpen]="isGelery1Open" >
    <ng-template>
  
      <ion-buttons slot="start" style="position: absolute; left: 20px; top: 20px">
        <ion-button (click)="goPrev()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
        <ion-button (click)="goNext()">
          <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-buttons>
  
  
      <ion-buttons slot="end" style="position: absolute; right: 20px; top: 20px">
        <ion-button  (click)="setOpenPhoto(false,0)">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-content style=" --ion-background-color: #000000;">
  <swiper-container
                    #swiper
                    
                    [zoom]="true"
                    >
    <swiper-slide *ngFor="let photo of avatar; let i=index">
      <div>
        <ion-img [src]="avatar![indexPhoto!].url"></ion-img>
      </div>
    </swiper-slide>
  </swiper-container>
      </ion-content>
    </ng-template>
  </ion-modal>
<!-- Boton -->
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button color="danger" (click)="addNewFromGallery()">
    <ion-icon name="camera"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
